* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.map {
  height: 95vh;
  width: 85vw;
  margin: auto;
}

.c-campus {
  width: 100%;
  height: 20vh;
  border-collapse: collapse;
  border: 1px black solid;
  margin-bottom: 1em;
}

.c-campus__cell {
  border: 1px black solid;
  height: 2em;
}

.c-campus__header {
  background-color: black;
  color: whitesmoke;
}

.hidden {
  display: none;
  /* visibility: hidden;; */
}

.js-list {
  margin-left: 2vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
